<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="toolbar" color="primary" *ngIf="isAuthenticated">
  <span>
    <!-- <img src="assets/img/angular_whiteTransparent.svg" class="angular-logo"> -->
    My recipes
  </span>
  <span class="toolbar-spacer"></span>
  <!-- <span class="fill-remaining-space"></span> -->
  <button mat-button [routerLink]="['/recipes-json']">JSON Requests</button>
  <button mat-button>XML Requests</button>
  <button mat-button>About me</button>
  <button mat-button *ngIf="isAuthenticated" (click)="oktaAuth.logout()" [routerLink]="['/home']">Logout</button>
  <!-- <button mat-button (click)="onLogout()">Logout</button> -->
</mat-toolbar>
<router-outlet></router-outlet>
